<div class="container">
    <div class="card mt-4 mb-5">
    <div class="card-body">
      <div class="row text-center justify-content-md-center">
        <ng-container
          *ngTemplateOutlet="
            starterLinkTemplate;
            context: {
              $implicit: {
                title: 'Learn the ABP Framework',
                description:
                  'Explore the compherensive documentation to learn how to build a modern web application.',
                links: [
                  {
                    href: 'https://docs.abp.io/en/abp/latest?ref=tmpl',
                    label: 'See Documents'
                  }
                ]
              }
            }
          "
        ></ng-container>
      </div>
    </div>
  </div>
  <ng-template #starterLinkTemplate let-context>
    <div class="col-lg-4 border-left">
      <div class="p-4">
        <h5 class="mb-3">
          <i class="fas fa-cubes text-secondary d-block my-3 fa-2x"></i> {{ context.title }}
        </h5>
        <p [innerHTML]="context.description"></p>
        <ng-container
          *ngIf="context.customTemplate"
          [ngTemplateOutlet]="context.customTemplate"
        ></ng-container>
        <a
          *ngFor="let link of context.links"
          [href]="link.href"
          target="_blank"
          class="btn btn-link px-1"
          >{{ link.label }} <i class="fas fa-chevron-right"></i
        ></a>
      </div>
    </div>
  </ng-template>
  <ng-template #featuresTemplate let-context>
    <div class="col-lg-2 border-left">
      <div class="p-3">
        <h6>
          <i class="fas fa-plus d-block mb-3 fa- 2x text-secondary"></i>
          <span [innerHTML]="context.title"></span>
          <a [href]="context.href" target="_blank" class="d-block mt-2 btn btn-sm btn-link"
            >Details <i class="fas fa-chevron-right"></i
          ></a>
        </h6>
      </div>
    </div>
  </ng-template>
  <style scoped>
    .col-lg-2.border-left:nth-of-type(6n + 1) {
      border-left: 0 !important;
    }
    .col-lg-4.border-left:nth-of-type(3n + 1) {
      border-left: 0 !important;
    }
    @media (max-width: 991px) {
      .border-left {
        border-left: 0 !important;
      }
    }
  </style>
</div>
